<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content})}"
>
  <div th:fragment="content">
    <h4 class="fw-bold text-center mb-4">Create Story</h4>
    <form th:action="@{/board/create}" th:object="${boardForm}" method="post">
      <div class="mb-4">
        <label class="small text-muted fw-bold">TITLE</label>
        <input
          type="text"
          th:field="*{title}"
          class="form-control"
          th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
          placeholder="Type your title"
        />
        <div class="invalid-feedback" th:errors="*{title}"></div>
      </div>
      <div class="mb-4">
        <label class="small text-muted fw-bold">CONTENT</label>
        <textarea
          th:field="*{content}"
          class="form-control"
          rows="8"
          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
          placeholder="Type your message"
        ></textarea>
        <div class="invalid-feedback" th:errors="*{content}"></div>
      </div>
      <div class="d-grid mt-5">
        <button type="submit" class="btn btn-main py-3">SAVE POST</button>
      </div>
    </form>
  </div>
</html>
