<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content})}"
>
  <div th:fragment="content">
    <h3 style="margin-bottom: 20px; font-weight: 800">Recent Posts</h3>
    <ul class="board-list">
      <li class="board-item" th:each="board : ${boardList}">
        <a
          th:href="@{|/board/detail/${board.bno}|}"
          th:text="${board.title}"
        ></a>
        <span
          class="date"
          th:text="${#temporals.format(board.createDate, 'MM-dd')}"
        ></span>
      </li>
    </ul>
    <button class="btn-submit" th:onclick="|location.href='@{/board/create}'|">
      NEW POST
    </button>
  </div>
</html>
