<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>게시글 상세</title>
  </head>
  <body>
    <h2 th:text="${board.title}">제목</h2>
    <div style="color: #666; margin-bottom: 10px">
      번호: [[${board.bno}]] | 작성일:
      <span
        th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"
      ></span>
    </div>
    <hr />
    <div
      style="min-height: 200px; white-space: pre-wrap"
      th:text="${board.content}"
    >
      내용
    </div>
    <hr />
    <a th:href="@{/board/list}"><button>목록으로</button></a>
  </body>
</html>
