<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content})}"
>
  <div th:fragment="content">
    <h3 style="margin-bottom: 30px; font-weight: 800">Create One</h3>
    <form th:action="@{/board/create}" th:object="${boardForm}" method="post">
      <div class="input-group">
        <label>TITLE</label>
        <input type="text" th:field="*{title}" placeholder="Type your title" />
        <span
          style="color: red; font-size: 0.7rem"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"
        ></span>
      </div>
      <div class="input-group">
        <label>CONTENT</label>
        <textarea
          th:field="*{content}"
          rows="5"
          placeholder="Type your message"
        ></textarea>
        <span
          style="color: red; font-size: 0.7rem"
          th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"
        ></span>
      </div>
      <button type="submit" class="btn-submit">SAVE NOW</button>
    </form>
  </div>
</html>
