<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content})}"
>
  <div th:fragment="content">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-11">
        <div class="mb-4">
          <h2
            class="card-title fw-bold text-dark fs-1"
            th:text="${board.title}"
          >
            제목
          </h2>
          <div
            class="d-flex justify-content-between text-muted small border-bottom pb-3"
          >
            <span>번호: <strong th:text="${board.bno}"></strong></span>
            <span
              >작성일:
              <strong
                th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"
              ></strong
            ></span>
          </div>
        </div>
        <div
          class="fs-5"
          style="white-space: pre-wrap; line-height: 1.8; min-height: 350px"
          th:text="${board.content}"
        >
          내용이 출력됩니다.
        </div>
        <div class="border-top-0 pt-4 text-end">
          <a
            th:href="@{/board/list}"
            class="btn btn-outline-primary px-4 btn-lg shadow-sm"
            >목록으로</a
          >
        </div>
      </div>
    </div>
  </div>
</html>
