<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>WebBoard Home</title>
  </head>
  <body>
    <div style="text-align: center; padding: 50px">
      <h1>🚀 PKNU26 Web Board</h1>
      <p>Spring Boot + JPA + Thymeleaf 연습용 게시판</p>
      <hr />
      <div style="margin: 20px">
        <a th:href="@{/board/list}">[게시판 바로가기]</a>
        <a th:href="@{/board/create}">[글쓰기]</a>
      </div>

      <div style="text-align: left; width: 50%; margin: 0 auto">
        <h4>최근 게시글</h4>
        <ul>
          <li th:each="board, iter : ${boardList}" th:if="${iter.index < 5}">
            <a
              th:href="@{|/board/detail/${board.bno}|}"
              th:text="${board.title}"
              >제목</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
